/* General Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Background Rules */
.background{
    position: relative;
}

.background .top{
    background-color: #009688;
    width: 100%;
    height: 115px;
}

.background .bottom{
    background-color: #d6dbd6;
    height: calc(100vh - 115px);
}

/* Container Centrale */
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
    width: 80%;
    display: flex;
    background-color: white;
}

/* Sezione Sinistra */
.left{
    width: 35%;
    height: 100%;
}

    .left header{
        height: 60px;
        background-color: #eaeaea;
        padding: 0 18px 0 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .left .profile{
            height: 100%;
            font-size: 12px;
            display: flex;
            align-items: center;
            gap: 5px;
        }
            .left .profile .image-profile{
                height: 70%;
                border-radius: 50%;
            }

        .left .tool{
            display: flex;
            justify-content: space-evenly;
            gap: 15px;
            color: gray;
            font-size: 20px;
        }

    .left .notification{
        height: 70px;
        background-color: #8edafc;
        padding: 0 13px;
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .left .notification i{
        color: #8edafc;
        background-color: white;
        padding: 12px 10px;
        border-radius: 50%;
        font-size: 16px;
    }

    .left .notification a{
        color: #5b889c;
    }

    .left .search{
        height: 40px;
        padding: 5px;
        position: relative;
    }

        .left .search #search-contacts{
            width: 100%;
            height: 100%;
            border: 1px solid #F3F3F3;
            padding: 0 60px;
        }

        .left .search #search-contacts::placeholder{
            font-size: 10px;
        }

        .left .search i{
            position: absolute;
            bottom: 13px;
            left: 25px;
            font-size: 12px;
            color: gray;
        }

    .left .chats{
        height: calc(100% - 170px);
        overflow: scroll;
    }

        .left .chat{
            height: 70px;
            padding: 0 10px;
            position: relative;
            display: flex;
            justify-content: flex-start;
            gap: 10px;

        }


            .left .chat .image-contact{
                height: 100%;
                display: flex;
                align-items: center;
            }

                .left .image-contact .image-profile{
                    height: 80%;
                    border-radius: 50%;
                    
                }

            .left .chat .name-contact{
                display: flex;
                flex-direction: column;
                margin-top: 8px;
            }

                .left .name-contact .name{
                    font-size: 14px;
                }
                
                .left .name-contact .text-message{
                    color: lightgray;
                    font-size: 12px;
                }

            .left .chat .time{
                position: absolute;
                top: 2px;
                right: 5px;
                color: gray;
                font-size: 12px;
                
            }        

/* Sezione Destra */
.right{
    width: 65%;
    height: 100%;
    /* DEBUG */
    background-color: blueviolet;
}

    .right header{
        height: 60px;
        /* DEBUG */
        background-color: darkred;
    }

    .right .messages{
        height: calc(100% - 120px);
        overflow: scroll;
        padding: 0 60px;
        /* DEBUG */
        background-color: darkgoldenrod;
    }

        .right .message{
            height: 40px;
            width: 250px;
            border-radius: 8px;
            display: table;
            content: "";
            clear: both;
            margin: 5px;
        }

            .right .message.sent{
                background-color: #d5f9ba;
                float: right;
            }

            .right .message.received{
                background-color: white;
                float: left;
            }

    .right .input-bar{
        height: 60px;
        /* DEBUG */
        background-color: coral;
    }



