/* General Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Background Rules */
.background{
    position: relative;
}

.background .top{
    background-color: #009688;
    width: 100%;
    height: 115px;
}

.background .bottom{
    background-color: #d6dbd6;
    height: calc(100vh - 115px);
}

/* Container Centrale */
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
    width: 80%;
    display: flex;
    /* DEBUG */
    border: 5px solid black;
}

/* Sezione Sinistra */
.left{
    width: 35%;
    height: 100%;
    /* DEBUG */
    background-color: blue;
}

    .left header{
        height: 60px;
        /* DEBUG */
        background-color: chartreuse;
    }

    .left .notification{
        height: 70px;
        /* DEBUG */
        background-color: brown;
    }

    .left .search{
        height: 40px;
        /* DEBUG */
        background-color: chocolate;
    }

    .left .chats{
        height: calc(100% - 170px);
        overflow: scroll;
        /* DEBUG */
        background-color: aqua;
    }

        .left .chat{
            height: 70px;
            /* DEBUG */
            border: 2px solid black;
        }

/* Sezione Destra */
.right{
    width: 65%;
    height: 100%;
    /* DEBUG */
    background-color: blueviolet;
}

    .right header{
        height: 60px;
        /* DEBUG */
        background-color: darkred;
    }

    .right .messages{
        height: calc(100% - 120px);
        overflow: scroll;
        padding: 0 60px;
        /* DEBUG */
        background-color: darkgoldenrod;
    }

        .right .message{
            height: 40px;
            width: 250px;
            border-radius: 8px;
            display: table;
            content: "";
            clear: both;
            margin: 5px;
        }

            .right .message.sent{
                background-color: #d5f9ba;
                float: right;
            }

            .right .message.received{
                background-color: white;
                float: left;
            }

    .right .input-bar{
        height: 60px;
        /* DEBUG */
        background-color: coral;
    }



