<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <title>Boolzapp</title>
</head>
<body>
    
    <div id="app">

        <div class="background">

            <!-- Background Sopra -->
            <div class="top"></div>
    
            <!-- Container Centrale -->
            <div class="container">

                <!-- Sezione sinistra -->
                <section class="left">
                    
                    <header>
                        <div class="profile">
                            <img src="img/avatar_io.jpg" alt="Image Profile" class="image-profile">
                            <span class="profile-name">Sofia</span>
                        </div>

                        <div class="tool">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>

                    </header>

                    <div class="notification">
                        <i class="fa-solid fa-bell-slash"></i>
                        <span>
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <a href="#">Attiva notifiche desktop</a>
                        </span>
                    </div>

                    <div class="search">
                        <input type="search" id="search-contacts" placeholder="Cerca o inizia una nuova chat" v-model="searchContacts" @KeyUp="searchingContacts">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                    <div class="chats">

                        <div v-for="(chat, index) in contacts" :class="contacts[index].selected ? selectedClass : '' " :id="contacts[index].visible ? '' : 'hidden' " class="chat" @click="contactSelected(index)">
                            <div class="image-contact">
                                <img :src=" 'img/avatar' + contacts[index].avatar + '.jpg' " alt="Contact Image Profile 1" class="image-profile">
                            </div>

                            <div class="name-contact">
                                <div class="name">{{ chat.name }}</div>
                                <div class="text-message">Ultimo messaggio inviato</div>
                            </div>

                            <div class="time">
                                {{ hour[index] }}
                            </div>
                        </div>

                    </div>

                </section>
    
                <!-- Sezione Destra -->
                <section class="right">
                    <header>
                        <div class="info-chat">
                            <div class="image-contact">
                                <img :src="imgSelected" alt="Contact Image Profile 1" class="image-profile">
                            </div>
                            <div class="name-contact">
                                <div class="name">{{ nameSelected }}</div>
                                <div class="text-message">Ultimo accesso oggi alle {{ lastAccess }}</div>
                            </div>
                        </div>
                        <div class="tool">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>

                    <div class="messages">

                        <div v-for="(element, i) in messageChat" :class="contacts[i].selected ? '' : 'box-message' ">
                            <div v-for="text in element" :class="text.status === 'received' ? 'received' : 'sent' " class="message">
                                {{text.message}}

                                <div class="time">
                                    {{text.date}}
                                </div> 
                            </div>
                                
                        </div>
                        

                    </div>
                    
                    <div class="input-section">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" id="input-bar" placeholder="Scrivi un messaggio" v-model="textUser" @KeyUp.enter="textSended">
                        <i class="fa-solid fa-microphone"></i>

                    </div>
                </section>
            </div>
    
            <!-- Background sotto -->
            <div class="bottom"></div>
        </div>
    </div>

    
    <!-- Script: Vue.js & main.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</body>
</html>